#filterDropdown{
  background-color: #000;
}
body {
    background-color: #ffffff;
    /*background-image: url("http://www.pngmart.com/files/4/Desert-PNG-Clipart.png");*/
    background-repeat: no-repeat;
    background-size:100% 100%;
background-position:bottom;
    background-attachment: fixed;
}
.as_con{
  font-family: Arima Madurai;
font-size:1em;
font-weight:100;
}

.as_menu{
font-family:Chela one; font-size:1.4em;
}
.as_test{
    position:fixed;
    right:10px;
    bottom:0;
}
.nav-wrapper {
    background: #513c2e;
    font-family:century gothic;
    color:#e6e87f;
    font-size: 1.6em;
    font-weight:;
  }
  .nav-filter {
      background: #28143f;
      font-family:century gothic;
      color:#e6e87f;
      font-size: 1.6em;
      font-weight:;
    }
.headas{
    color:#e6e87f;
    font-family:century gothic;
    font-size: 1.3em;
}
.as_map
{   z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}
.as_submit{
    position: fixed;
    top:0px;
    float: right;
    z-index: 15;
    display: inline;
}
.as_ico
{
    font-size: 200%;

}
#asico{
    font-size:200%;
}
.material-icons.md-48 {font-size: 1.3em; color:#e6e87f;}

.no-js #loader { display: none;  }
.shop_btn
{
    background-color: #000;
    padding:15px;
    border-radius: 0%;
    font-family:Risque;
    font-size: 1em;
    color:#e6e87f;
}

/*----------Table CSS------------------*/

/* Table CSS*/
table { width: 100%; text-align: center; border-spacing: 0; border-collapse: collapse; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

th, td { font-family: inherit; font-size: 1em; line-height: 1.45; color: #444; vertical-align: middle; padding:5px;}
th { font-weight: 600; }

/* Tablehead */

thead th { background: #def4fe; background: -moz-linear-gradient(top,  #ffffff 0%, #e6e87f 100%); background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e87f 100%); background: -o-linear-gradient(top,  #ffffff 0%,#e6e87f 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#e6e87f 100%); background: linear-gradient(to bottom,  #ffffff 0%,##e6e87f 100%); text-align: center; position: relative; border-bottom: 1px solid #ccc; padding: 3em 0 2em; font-weight: 400; color: #999; }
thead th:nth-child(1) { background: transparent;  }
thead th h2 { font-weight: 300; font-size: 2.4em; line-height: 1.2; color: #59c7fb; }
thead th h2 + p { font-size: 1.25em; line-height: 1.4; }
thead th:nth-child(3) h2 { font-size: 3.6em; }
thead th:nth-child(3) h2 + p { font-size: 1.5em; }

thead th p.promo { font-size: 1em; color: #fff; position: absolute; top: 9em; left: -17px; z-index: 1000; width: 100%; margin: 0; padding: .625em 17px .75em; background: #c00; box-shadow: 0 2px 4px rgba(0,0,0,.25); border-bottom: 1px solid #900; }

thead th p.promo:before { content: ""; position: absolute; display: block; width: 0px; height: 0px; border-style: solid; border-width: 0 7px 7px 0; border-color: transparent #900 transparent transparent; bottom: -7px; left: 0; }
thead th p.promo:after { content: ""; position: absolute; display: block; width: 0px; height: 0px; border-style: solid; border-width: 7px 7px 0 0; border-color: #900 transparent transparent transparent; bottom: -7px; right: 0; }

/* Tablebody */

tbody th { background: #fff; border-left: 1px solid #ccc; }
tbody th span { font-weight: normal; font-size: 1em; color: #999; display: block; }

tbody td { background: #fff; text-align: center; }

tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td { background: #f7e1c8; border: 1px solid #ccc; border-width: 1px 0 1px 1px;}

table td input {
 text-align: center;  
    width:80%;
}
/*-----------End of Table-----------------*/


/*----------Preloader---------------------*/
#prelaoder{position:fixed;top:0;left:0;right:0;bottom:0;background:linear-gradient(#9acae7, #e6e87f); background-repeat: no-repeat; background-size: cover; z-index:90000}

.spinner{text-align:center;font-size:10px}
.spinner,.spinner-inner{position:absolute;top:0;bottom:0;right:0;left:0;border:9px solid #fff;border-color:transparent #e6e87f;margin:auto}

.spinner{width:85px;height:85px;-webkit-animation:spin 2.2s linear 0s infinite normal;-moz-animation:spin 2.2s linear 0s infinite normal;animation:spin 2.2s linear 0s infinite normal}

.spinner-inner{width:40px;height:40px;-webkit-animation:spinback 1.2s linear 0s infinite normal;-moz-animation:spinback 1.2s linear 0s infinite normal;animation:spinback 1.2s linear 0s infinite normal}@-webkit-keyframes spin{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@-moz-keyframes spin{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(360deg)}}@keyframes spin{from{transform:rotate(0)}to{transform:rotate(360deg)}}@-webkit-keyframes spinback{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(-360deg)}}@-moz-keyframes spinback{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(-360deg)}}@keyframes spinback{from{transform:rotate(0)}to{transform:rotate(-360deg)}}
/*------------------------------------------------*/
/* --------------------------------


/*-------------------------------------*/
.head_mod{
    font-family:Limelight;
    color:#ffa900
;

}
.head_mod2{
    font-family:Limelight;
    color:#313233;
    color:#fff;

}
.subhead{
    font-family:Risque;
    font-weight: 700;
    color:#000;
}
.content
{
    font-family:Mogra;
    color:#434444;
}
.modal{
    background-color: #fff;
    min-height: 100px;

}
.mod_but{

    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color:white;
}

 @media screen and (min-width: 600px) {
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e899;
    border-radius: 20%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e6e87f;
}
}
@media screen and (max-width:992px)
{/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e899;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e6e87f;
}
}
.modal-footer{
    background-color:#ffa900;
}
/*---------------BAR for mobiles----------------------*/
@media screen and (max-width: 992px) {
    .brand-logo{ font-size:15px;}
    .brand-name{ font-size: 20px;}
    .material-icons.md-48 {font-size:1em; color:#e6e87f;}
    .catemain{
        display:block;
    }
.navbar {
  overflow:visible;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    .navbar ul{
        overflow: auto;
        position: absolute;
    }
.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.material-icons.md-36 { font-size: 25px;  color:#e6e87f;}
}
@media screen and (min-width: 992px)
{
    .navbar{
       display: none;
    }
}
/*---------------End of Bar---------------------------*/
.clsdshp{
    font-family: mogra;
}
.as_line{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 2em;
padding-bottom: 1em;
    white-space: nowrap;
}
.card-image{
  height:10em;
  width: auto;
}
.card-image img{
  height:10em;
  width: 100%;
  vertical-align: middle;
}
ul#filterDropdown1
{
    
}
ul#filterDropdown1 li{
    padding:5px;
    text-align: center;
}
ul#filterDropdown1 li a{
    color:white;
    
    font-family:monospace;
}
#headul{
    overflow: auto;
}
#press_cart:active {
    transform: translateY(400px);
}
.parallax { 
    background-image: url('../images/mjblack.jpg');
    height: 25em; 
    margin-top:0;
    background-attachment: fixed;
    background-position:left;
    background-repeat:no-repeat;
    background-size:cover;
    
}
